anaconda-anon-usage 
annotated-types==0.7.0
anyio==4.9.0
appnope 
archspec 
asttokens 
attrs==25.3.0
Automat==24.8.1
beautifulsoup4==4.13.3
boltons 
Brotli 
cachetools==5.5.2
certifi 
cffi 
chardet==3.0.4
charset-normalizer 
comm 
conda 
conda-anaconda-telemetry 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
constantly==23.10.4
contourpy==1.3.3
cryptography 
cssselect==1.3.0
cycler==0.12.1
debugpy 
decorator 
deep-translator==1.11.4
defusedxml==0.7.1
distro 
dotenv==0.9.9
et_xmlfile==2.0.0
exceptiongroup 
executing 
filelock==3.18.0
fonttools==4.60.1
frozendict 
google==3.0.0
google-api-core==2.24.2
google-auth==2.38.0
google-cloud==0.34.0
google-cloud-core==2.4.3
google-cloud-secret-manager==2.25.0
google-cloud-translate==3.20.2
googleapis-common-protos==1.69.2
googlemaps==4.10.0
googletrans==2.4.0
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.71.0
h11 
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore 
httpx 
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib_metadata 
incremental==24.7.2
ipykernel 
ipython 
ipython_pygments_lexers 
itemadapter==0.11.0
itemloaders==1.3.2
jedi 
jiter==0.9.0
jmespath==1.0.1
joblib 
jsonpatch 
jsonpointer==2.1
jupyter_client 
jupyter_core 
kiwisolver==1.4.9
libmambapy 
lightgbm 
lxml==5.3.2
matplotlib==3.10.7
matplotlib-inline 
menuinst 
nest_asyncio 
numpy 
openai==1.68.0
openpyxl==3.1.5
packaging 
pandas==2.2.3
parsel==1.10.0
parso 
pexpect 
pickleshare 
pillow==11.3.0
platformdirs 
pluggy 
prompt_toolkit 
Protego==0.4.0
proto-plus==1.26.1
protobuf==5.29.4
psutil 
psycopg2-binary==2.9.10
ptyprocess 
pure_eval 
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat 
pycparser 
pydantic==2.10.6
pydantic_core==2.27.2
PyDispatcher==2.0.7
Pygments 
pyOpenSSL==25.0.0
pyparsing==3.2.5
PySocks 
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.1
pyzmq 
queuelib==1.8.0
requests 
requests-file==2.1.0
rfc3986==1.5.0
rsa==4.9
ruamel.yaml 
ruamel.yaml.clib 
scikit-learn 
scipy 
Scrapy==2.12.0
seaborn==0.13.2
service-identity==24.2.0
setuptools==75.1.0
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
stack_data 
threadpoolctl 
tldextract==5.2.0
tornado 
tqdm 
traitlets 
truststore 
Twisted==24.11.0
typing_extensions 
tzdata==2025.1
urllib3 
w3lib==2.3.1
wcwidth 
wheel==0.44.0
zipp 
zope.interface==7.2
zstandard 
